  <h1 class="heading">Upcoming Bookings</h1>

<div class="booking-container">
<% @bookings.each do |booking| %>
  <div class="card-booking">
    <div class="image-container">
      <%= image_tag booking.lesson.user.avatar_url, alt: "Teacher photo"%>
      <span class="box-rounded"><%=booking.status%></span>
      <p class="overlay-text"><strong><%= booking.lesson.user.first_name%> <%=booking.lesson.user.last_name %></strong></p>
    </div>
      <div class="card-booking-infos">
        <span class="card-booking-span"><%=booking.lesson.subject %></span> -
        <span><%=booking.lesson.description %></span>
    </div>
      <p class="info-text"><strong>Booked:</strong> <%=booking.start_time.strftime("%A, %B %e, %Y") %>
      <br>
        <strong>Address:</strong> <%= booking.lesson.user.address%>
      <br>
        <strong>Duration:</strong> <%= booking.duration_minutes %>
      <br>
        <strong>Price: </strong><%="#{booking.lesson.hourly_rate} €"%> </p>

    <%= link_to booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
    <i class="fa-regular fa-trash-can"></i>
    <% end %>
  </div>
  <% end %>
</div>
