<h1 class="heading"><%= params[:subject].present? ? params[:subject].capitalize : "All" %> lessons</h1>
  <div class="booking-container">

  <% @lessons.each do |lesson| %>
    <%=link_to lesson_path(lesson), style: "text-decoration: none;", class: "card-lesson-link" do%>
      <div class="card-lesson" >
        <%= image_tag lesson.user.avatar_url, alt: "Teacher photo"%>
        <p><%=lesson.user.first_name%></p>
      <div class="card-lesson-infos">
        <span><%=lesson.subject%></span>
        <span><%=lesson.description%></span>
      <h2 class="card-lesson-pricing"><%="#{lesson.hourly_rate}€"%></h2>
      </div>
      </div>
    <% end %>
  <% end %>
</div>
