<div class="d-flex flex-column">
  <div class="card-teacher-intro">
    <%= image_tag "gaelle.jpeg", class: "avatar-large", alt: "Teacher photo"%>
    <h2><%=@lesson.user.first_name%></h2>
    <p><%=@lesson.subject%></p>
  </div>

  <div class="card-teacher-about m-3">
    <h3><%="About #{@lesson.user.first_name}"%></h3>
      <div class="d-flex flex-row">
        <span class="rounded-icon">
          <i class="fa-solid fa-graduation-cap icon" style="color: #ffffff;"></i>
        </span>
        <p><%=@lesson.user.education_level%></p>
        <span class="rounded-icon">
          <i class="fa-solid fa-coins" style="color: #ffffff;"></i>
        </span>
        <p><%="#{@lesson.hourly_rate}€"%></p>
      </div>
    <p><%=@lesson.user.bio%></p>
  </div>

  <div class="card-lesson-about m-3">
    <h3>Lesson Details</h3>
    <p><%=@lesson.description %></p>
  </div>

  <div class="card-teacher-availability m-3">
    <h3><%="#{@lesson.user.first_name}'s availability"%></h3>
      <%@teacher_availabilities.attributes.select { |key, value| value == true}.keys.each do |key|%>
      <% day_array = key.split("_") %>
      <span class="box-rounded"><%= "#{day_array[0].capitalize} #{day_array[1] == "am" ? "moring" : "afternoon"}" %></span>
      <%end%>
  </div>


  <%#
  <div data-controller="toggle" class="mt-5">
    <button class="btn btn-primary">Book a lesson</button>
    <%= simple_form_for booking%>
  %>
</div>
