<div class="d-flex flex-column">
  <div class="card-teacher-intro">
    <div class="simple-box"></div>
    <%= image_tag @lesson.user.avatar_url, class: "avatar-large", alt: "Teacher photo"%>
    <h1 class ="heading" ><%=@lesson.user.first_name%></h2>
    <p><%=@lesson.subject%></p>
  </div>

  <div class="card-teacher-about m-3">
    <h3><%="About #{@lesson.user.first_name}"%></h3>
        <span class="box-rounded">
          <i class="fa-solid fa-graduation-cap icon" style="color: #ffffff;"></i>   <%=@lesson.user.education_level%>
        </span>
        <span class="box-rounded">
          <i class="fa-solid fa-coins" style="color: #ffffff;"></i>   <%="#{@lesson.hourly_rate}€/hour"%>
        </span>
    <p><%=@lesson.user.bio%></p>
  </div>

  <div class="card-lesson-about m-3">
    <h3>Lesson Details</h3>
    <p><%=@lesson.description %></p>
  </div>

  <div class="card-teacher-availability m-3">
    <h3><%="#{@lesson.user.first_name}'s availability"%></h3>
      <%@teacher_availabilities.attributes.select { |key, value| value == true}.keys.each do |key|%>
      <% day_array = key.split("_") %>
      <span class="box-rounded"><%= "#{day_array[0].capitalize} #{day_array[1] == "am" ? "morning" : "afternoon"}" %></span>
      <%end%>
  </div>

  <div data-controller="toggle" class="mt-5">
    <h3><%="Book Now With #{@lesson.user.first_name}"%></h3>
    <%= simple_form_for [@lesson, @booking] do |f|%>
      <%= f.input :occurs_on,
                  label: false,
                  as: :string,
                  input_html: { data: { controller: "datepicker" } } %>
      <%= f.submit 'Book', class: "btn btn-primary btn-block" %>
    <%end%>
</div>
